<div class="contenedor">

    <div class="parteIzquierda">

        <!-- top -->
        <section class="top">

            <div class="superior">

                <article class="welcome">

                    <app-dashboard-welcome></app-dashboard-welcome>

                </article>

                <article class="favorites">

                    <app-dashboard-favorites></app-dashboard-favorites>

                </article>

            </div>

            <article class="summary">

                <app-dashboard-summary></app-dashboard-summary>

            </article>

        </section>


        <!-- menu -->
        <section class="menu">

            <app-navigation-menu></app-navigation-menu>

        </section>


        <!-- bottom: -->
        <section class="bottom">

            <!-- <router-outlet></router-outlet> -->

            <app-bottom-layout></app-bottom-layout>

        </section>

    </div>


    <div class="parteDerecha">

        <!-- sidebar -->
        <aside class="sidebar">

            <app-home-sidebar></app-home-sidebar>

        </aside>

    </div>

</div>