<section class="claseGrupal">

    <div class="claseGrupal__title"> 

        <app-dashboard-filters titulo="{{ titulo }}"></app-dashboard-filters>

    </div>

    <div class="claseGrupal__resultados">


        <div *ngFor="let item of Data['grupales']; let i = index;" class="claseGrupal__resultados__card">

            <div class="claseGrupal__resultados__card--img">

                <img src="../../../../../assets/icons/tarjetita.png" alt="Imagen">

            </div> 

            <div class="claseGrupal__resultados__card--titular">
                <p> {{ item.titular }} </p>
            </div>

            <div class="claseGrupal__resultados__card--numero">
                <p> ...{{ item.codigo }} </p>
            </div>

            <div class="claseGrupal__resultados__card--porcentaje">
                <div>
                    <p> {{ (item.dinero | currency:"EUR":"symbol") }} </p>
                    <p class="gris"> /  {{ (item.objetivo | currency:"EUR":"symbol") }} </p>
                </div>
                <img src="../../../../../assets/icons/barra.png" alt="Barra de porcentaje">
            </div>

        </div>

    </div>

</section>