.claseGrupal {

    margin-top: 8vh;

    &__resultados {

        margin: 4vh 3vw 4vh 0;

        &__card {

            background-color: white;
            border: solid 1px rgba(209, 209, 209, 0.479);
            display: flex;
            max-width: 68.6vw;

            box-shadow: 3px 3px rgba(223, 221, 221, 0.405);

            &--img {
                
                padding: 1vw;
                margin: auto 0;
            }

            &--titular {

                margin: auto 0;
                padding-top: 2vh;
                min-width: 13vw;

                @media screen and (max-width: 1279px) {
                    min-width: 18vw;
                }

                @media screen and (max-width: 1023px) {
                    min-width: 20vw;
                    max-width: 20vw;
                }
                
                @media screen and (max-width: 876px) {
                    min-width: 38vw;
                    margin-right: 2vw;

                }

                p {
                    @media screen and (max-width: 876px) {
                        width: 35vw;
                        max-width: 35vw;
                        padding-left: 2vw;
                    }
                }
            }

            &--numero {

                margin: auto 0;
                padding: 2vh 5vw 0 5vw;
                @media screen and (max-width: 876px) {
                    padding-right: 8vw;
                    padding-left: 5vw;
                    width: 3vw;
                    min-width: 3vw;
                    max-width: 3vw;
                }
            }

            &--porcentaje {

                margin: auto 0;
                padding: 2vh 1vw 0 4vw;
                display: flex;
                gap: 2vw;

                div {
                    display: flex;
                    width: 16vw;
                    min-width: 8vw;

                    .gris {
                        color: gray;
                        @media screen and (max-width: 876px) { 
                            display: none;
                        }

                    }

                    @media screen and (max-width: 1279px) {
                        min-width: 18vw;
                    }

                    p {
                        @media screen and (max-width: 1279px) {
                            min-width: 7vw;
                        }
                    }
                    @media screen and (max-width: 1023px) {
                        min-width: 22vw;
                        max-width: 22vw;
                    }

                    @media screen and (max-width: 876px) {
                        min-width: 12vw;
                    }

                }

                img {
                    min-height: 1.5vh;
                    max-height: 1.5vh;
                    width: 7vw;
                    min-width: 5vw;
                    padding: auto 0;
                    margin-top: 1vh;

                    @media screen and (max-width: 876px) {
                        display: none;
                    }

                }

                @media screen and (max-width: 1279px) {
                    min-width: 30vw;
                    margin-left: 6vw
                }

                @media screen and (max-width: 1023px) {
                    margin-left: 0;
                }

                @media screen and (max-width: 876px) {
                    width: 23vw;
                    min-width: 23vw;
                }
                @media screen and (max-width: 680px) {
                    display: none;
                }
            }

            @media screen and (max-width: 1279px) {
                max-width: 93.5vw;
                gap: 4vw;
            }

            @media screen and (max-width: 876px) {
                gap: 2vw;
            }
        }
    }
}