<nav>

    <ul>

        <li class="logo"> 
            <a href="home"> 
                <i> 
                    <img src="../../../assets/icons/logo.png" alt="Logo">
                 </i> 
            </a> 
        </li>

        <li class="productos"> 
            <a href="#"> <p> Productos </p> </a> 
        </li>

        <li class="operativas"> 
            <a href="#"> <p> Operativas </p> </a> 
        </li>

        <li class="busqueda">

            <a href="#"> <i> <img src="../../../assets/icons/lupita.png" alt="Icono de lupa"> </i> </a>

            <!-- <input type="text" name="buscador" id="buscador" placeholder="Busca en Ibercaja..."> -->
            <input type="text" name="buscador" id="buscador" placeholder="Busca en Ibercaja..."
                onclick="if(this.placeholder=='Busca en Ibercaja...') this.placeholder=''"
                onblur="if(this.placeholder=='') this.placeholder='Busca en Ibercaja...'">

            <a href="#" class="numero"> <img src="../../../assets/icons/numero.png" alt="Número"> </a>

        </li>

        <li class="perfil">

            <img src="./../../../assets/img/fotoPropia.jpg" alt="Imagen de perfil">

            <p> Manuel Fdez </p>

            <a href="#" class="despliegue"> <i> <img src="../../../assets/icons/flechita.png"
                        alt="Flecha para despliegue"> </i> </a>

            <a href="#" class="boton"> <img src="../../../assets/icons/textoLogo.png" alt="Botón de logo"> </a>

        </li>

    </ul>

</nav>
