<nav>

    <ul>

        <li class="logo">

            <a href="home">

                <i> <img src="../../../assets/icons/logo.png" alt="Logo"> </i>

            </a>

        </li>

        <li class="reservas">

            <a href="#"> <p> Reservas </p> </a>

        </li>

        <li class="rutinas">

            <a href="#"> <p> Rutinas </p> </a>

        </li>

        <li class="busqueda">

            <a href="#"> <i> <img src="../../../assets/icons/lupita.png"
                        alt="Icono de lupa"> </i> </a>

            <input type="text" name="buscador" id="buscador" placeholder="Buscar en Gymnasium..."
                   onclick="if(this.placeholder=='Buscar en Gymnasium...') this.placeholder=''"
                   onblur="if(this.placeholder=='') this.placeholder='Buscar en Gymnasium...'">

            <a href="#" class="numero"> <img src="../../../assets/icons/numero.png" alt="Número"> </a>

        </li>

        <li class="perfil">

            <img src="./../../../assets/img/fotoPropia.jpg" alt="Imagen de perfil">

            <p> Manuel Fdez </p>

            <a href="#" class="despliegue"> 

                <i> <img src="../../../assets/icons/flechita.png" alt="Flecha para despliegue"> </i> 

            </a>

            <a href="#" class="boton"> 

                <i> <img src="../../../assets/icons/textoLogo.png" alt="Botón de logo">  </i> 

            </a>

        </li>

    </ul>

</nav>
















<!-- <header>

    <div class="container-header">

        <div class="nav-ct">

            <div id="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="hidden">
                <div id="mimMenuBack" class="mim-menu-back"
                    onclick="mimMenuBack();">Atrás</div>
                <div class="mim-main-menu">
                    <ul class="main-nav-ul">

                        <li class="">
                            <a href="http://synergym.es/"> Inicio </a>
                        </li>

                        <li> </li>

                        <li class="has-sub-nav">
                            <a href="#"> Centros </a>
                        </li>

                        <li class="">
                            <a href="https://synergym.es/area-de-socios/"> Área de Socios </a> 
                        </li>

                        <li></li>

                        <li class="">
                            <a href="https://synergym.es/faq/"> FAQ </a>
                        </li>

                        <li> </li>

                        <li class="">
                            <a href="https://synergym.es/contactanos/"> Contacto </a>
                        </li>

                        <li> </li>

                        <li class="">
                            <a href="https://synergym.es/welcome-to-synergym/">
                                Welcome! Primeros Pasos 
                            </a>
                        </li>

                        <li> </li>
                    
                    </ul>
                </div>
            </nav>

        </div>

        <div class="logo-ct">

            <h1 class="logo">
                <a href="/" title="Synergym - Gimnasios para el fitness innovador.">
                    <img src="/assets/images/global/synergym.png" alt="Synergym - Fit Together">
                </a>
            </h1>

        </div>

        <div class="user-ct">
            <nav>
                <ul>

                    <li class="login">
                        <a href="#login-modal" class="btn btn-solid"
                            title="Login">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>

                    <li class="register mim-join-btn">
                        <a class="btn btn-solid btn-red" href="/date-de-alta">
                            <span>Apúntate</span>
                        </a>
                    </li>

                    <li class="register">
                        <a class="btn btn-solid btn-green"
                            href="https://synergym.es/area-de-socios/">
                            <span>Area de socios</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>

    <div class="top-bar">

        <div class="top-bar-item">

            <img class="top-bar-image"
                src="https://www.synergym.es/assets/images/gyms/global/2022/03/sin-permanencia_1.png">
            <div class="top-bar-title">Sin permanencia</div>

        </div>

        <div class="top-bar-item">

            <img class="top-bar-image"
                src="https://www.synergym.es/assets/images/gyms/global/2022/03/instalaciones.png">
            <div class="top-bar-title">Instalaciones únicas</div>

        </div>

        <div class="top-bar-item">

            <img class="top-bar-image"
                src="https://www.synergym.es/assets/images/gyms/global/2022/03/amplio-horario.png">
            <div class="top-bar-title">Amplio horario</div>

        </div>

        <div class="top-bar-item">

            <img class="top-bar-image"
                src="https://www.synergym.es/assets/images/gyms/global/2022/03/low-cost.png">
            <div class="top-bar-title">Low cost</div>

        </div>

    </div>

</header>
 -->


