<nav>
        <ul>     
                <li> <a routerLink="./"> {{ Data['menu'][0].titulo }} </a> </li>

                <li> <a routerLink="centros"> {{ Data['menu'][1].titulo }} </a> </li>
                
                <li>
                    <img src="../../../../assets/icons/carpetita.png" alt="Icono de gráficas">
                    
                    <a routerLink="progreso"> {{ Data['menu'][2].titulo }} </a>
                </li>
                
                <li> <a routerLink="objetivos"> {{ Data['menu'][3].titulo }} </a> </li>
        </ul>  
</nav>
 
<!-- <div> 

    <router-outlet></router-outlet>

</div>   -->