
<div class="menuFavorites">
        
        <div class="tag">
                <img src="../../../../assets/icons/banderita.png" alt="Icono de marcadores">
        </div>
        
        <ul>
                
                <li> <a href="#"> {{ Data['favorites'][0].titulo }} </a> </li>
                <li id="medio"> <a href="#"> {{ Data['favorites'][1].titulo }} </a> </li>
                <li> <a href="#"> {{ Data['favorites'][2].titulo }} </a> </li>
                
        </ul>
        
        <div class="despliegue">
                <a href="#">
                        <img src="../../../../assets/icons/puntitosMenu.png" alt="Despliegue de menú">
                </a>
        </div>

</div>

<!-- <li *ngFor="let item of Data.info['actividad'].hoy;" class="pago">
    <div class="pago__texto">
            {{ item.titulo }}
    </div>
    <div class="pago__cantidad">

            <p> {{ (item.cantidad | currency:"EUR":"symbol") | euros }} </p>
             -->


             
