.contenedor {

    display: flex;
    justify-content: space-between;
    gap: 1.4vw;

    .parteIzquierda {

        height: 100%;
        width: 70vw;
        min-width: 70vw;
        max-width: 70vw;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border: solid 1px rgba(209, 207, 207, 0.541);
        padding-top: 6vh;

        .top {

            padding-left: 4vw;
            display: flex;
            flex-direction: column;
            min-width: 65.1vw;
            gap: 5vh;
            background-color: #ffffff;

            .summary {
                @media screen and (max-width: 1023px) {
                    border-top: solid 1px rgba(212, 210, 210, 0.674);
                    padding-top: 2vh;
                    margin-right: 38vw;
                    min-width: 71vw;
                }
                @media screen and (max-width: 876px) {
                    min-width: 85vw;
                }
            }

            .superior {

                display: flex;
                justify-content: space-between;

                .favorites {
                    @media screen and (max-width: 1023px) {
                        display: none;
                    }
                }
            }
            
        }

        .menu {

            background-color: #ffffff;
            min-width: 69.2vw;
            max-height: 12.55vh;
            @media screen and (max-width: 876px) {
                margin-bottom: auto;
                height: 10vh;
                min-height: 10vh;
                max-height: 10vh;
            }
        }
        
        .bottom {
            
            padding-left: 4vw;
            padding-bottom: 15vh;
            background-color: #f3f7fe;
            min-height: 72.4vh;
            
            @media screen and (max-width: 876px) {
                margin-top: 3.5vh;
                
            }
            
        }

        @media screen and (max-width: 1279px) {
            min-width: 98.3vw;
            border-right: 0;
        }

        @media screen and (max-width: 1023px) {
            width: 98.1vw;
            min-width: 98.1vw;
            max-width: 98.1vw;
        }
        @media screen and (max-width: 876px) {
            width: 97.15vw;
            min-width: 97.15vw;
            max-width: 97.15vw;
           
        }
    }

    .parteDerecha {

        min-height: 70vh;
        max-height: 75vh;
        padding-top: 6vh;

        .sidebar {

            min-width: 27.1vw;
            padding-right: 2vw;
            min-height: 70vh;
            max-height: 75vh;
        }

        @media screen and (max-width: 1279px) {
            display: none;
        }
    }
    
}