<ul>
        <li class="logo"> <a href="#"> <img src="../../../assets/icons/logoOscuro.png" alt="Logo"> </a> </li>
        <li> <a href="#"> Contratos tipo        </a> </li> 
        <li> <a href="#"> C.G.C.                </a> </li> 
        <li> <a href="#"> Aviso legal           </a> </li> 
        <li> <a href="#"> Ejercicio de derechos </a> </li> 
        <li> <a href="#"> Revocación            </a> </li> 
        <li> <a href="#"> Tarifas y cotización  </a> </li> 
        <li> <a href="#"> Tablón de anuncios    </a> </li> 
</ul>

